<%- include('../../partials/header.ejs') %>


<div class="flex">
  <div>
    <%- include('../../partials/createFolderModal.ejs') %> 
    <%- include('../../partials/uploadFileModal.ejs') %>
  </div>

  <div>
    <% if(locals.nav) { %>
      <h2>
        <% nav.forEach((element, ind) => { %>
          <% if(element.name === 'My Drive') { %> 
            <a href="/drive/my-drive"><%= element.name %></a> 
            >
          <% } else { %>
            <a href="/drive/folder/<%= element.id %>"><%= element.name %></a>
            <% if(nav.length - 1 !== ind) { %>
              <span>></span>
            <% } %>
          <% } %>
        <% }); %>
      </h2>
    <% } %>
    <div class="flex">
      <p>Name</p>
      <p>Owner</p>
      <p>Date Modified</p>
      <p>File Size</p>
    </div>
    <% if(locals.data) { %>
      <div>
        <% data.forEach(data => { %>
        <% if(isEditing && targetId === data.id) { %>
          <div class="flex">
            <form action="/drive/folder/<%= data.id %>/edit" method="post">
              <input type="hidden" name="previous_url" value="<%= urlWithoutQuery %>">
              <input type="hidden" name="parent_folder_id" value="<%= data.parentId %>">
              <input type="hidden" name="folder_id" value="<%= data.id %>">
              <input type="text" name="folder_name" id="folder_name" value="<%= data.name %>">
              <button type="submit">Save Changes</button>
              <a href="<%= urlWithoutQuery %>">Cancel Edit</a>
            </form>
          </div>
        <% } else { %> 
          <div class="flex">
            <a href="/drive/folder/<%= data.id %>">
              <p><%= data.name %></p>
            </a>
            <div>
              <p>User</p>
            </div>
            <div>
              <%= data.updatedAt.toISOString().substring(0, 10) %>
            </div>
            <div class="flex">
              <a href="/drive/folder/<%= folderId %>?mode=edit&targetId=<%= data.id %>"><button>Edit</button></a>
              <div>
                <form action="/drive/folder/<%= data.id %>/delete" method="post">
                  <input type="hidden" name="previousUrl" value="<%= urlWithoutQuery %>" />
                  <input type="hidden" name="target_folderId" value="<%= data.id %>" >
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit">Delete</button>
                </form>
              </div>
            </div>
          </div>
        <% } %>
        <% }); %>
      </div>
    <% } %>
  </div>
</div>

<script src="/js/modalHandler.js"></script>
<%- include('../../partials/footer.ejs') %>
