<%- include('partials/header.ejs') %>



<div class="flex">
  <div>
    <%- include('partials/createFolderModal.ejs') %> 
    <%- include('partials/uploadFileModal.ejs') %>
  </div>

  <div class="data-container">
    <div>
      <h1>
        <a href="<%= currentUrl %>">My Drive</a>
      </h1>
    </div>
    <div class="flex">
      <p>Name</p>
      <p>Owner</p>
      <p>Date Modified</p>
      <p>File Size</p>
    </div>
    <% if(locals.data) { %>
      <div class="overflow">
        <% data.forEach(data => { %>
        <% if(isEditing && targetId === data.id) { %>
          <div class="flex">
            <form action="/drive/folder/<%= data.id %>/edit" method="post">
              <input type="hidden" name="previous_url" value="<%= urlWithoutQuery %>">
              <input type="hidden" name="parent_folder_id" value="<%= data.parentId %>">
              <input type="hidden" name="folder_id" value="<%= data.id %>">
              <input type="text" name="folder_name" id="folder_name" value="<%= data.name %>">
              <button type="submit">Save Changes</button>
              <a href="<%= urlWithoutQuery %>">Cancel Edit</a>
            </form>
          </div>
        <% } else { %> 
          <div class="flex">
            <a href="/drive/folder/<%= data.id %>">
              <p><%= data.name %></p>
            </a>
            <div>
              <p><%= user.firstName %> <%= user.lastName %></p>
            </div>
            <div>
              <%= data.updatedAt.toISOString().substring(0, 10) %>
            </div>
            <div class="flex">
              <a href="/drive/my-drive?mode=edit&targetId=<%= data.id %>"><button>Edit</button></a>
              <div>
                <form action="/drive/folder/<%= data.id %>/delete" method="post">
                  <input type="hidden" name="previousUrl" value="<%= urlWithoutQuery %>" />
                  <input type="hidden" name="target_folderId" value="<%= data.id %>" >
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit">Delete</button>
                </form>
              </div>
            </div>
          </div>
        <% } %>
        <% }); %>
      </div>
    <% } %>
    <% files.forEach(file => { %>
      <div>
        <p>Name: <%= file.name %></p>
        <p>Size: <%= file.size %></p>
        <p>URL: <%= file.url %></p>
        <img src="<%= file.url%>" alt="Image">
      </div>
    <% }); %>
  </div>
</div>

<!-- <button id="openModalBtn">Add New Folder</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <form action="/drive/folder/new" method="post">
      <label for="folder_name">New Folder Name:</label>
      <input
        type="text"
        name="folder_name"
        id="folder_name"
        placeholder="Untitled Folder"
        required
      />
      <button type="submit">Create Folder</button>
    </form>
  </div>
</div> -->

<!-- <button id="openModalBtn">Upload New File</button> -->

<!-- <a href="/drive/file/new">Upload New File</a> -->
<!-- <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <form action="/drive/file/new" method="post">
      <label for="textInput">Test Text Input:</label>
      <input type="text" name="textInput" id="textInput" /><br />

      <label for="uploaded_file">Upload your file:</label>
      <input type="file" name="uploaded_file" id="uploaded_file" /><br />
      <button type="submit">Submit file</button>
    </form>
  </div>
</div> -->

<script src="/js/modalHandler.js"></script>
<%- include('partials/footer.ejs') %>
